{% load static %}

{% block content %}
<div class='footer flex-c-se {% if request.resolver_match.url_name == "courses" %}unfooter{% endif %}'>
    <div class='foot flex-c-s'>
        <span class="question text-sm flex-c-s">Payment question?
            <a href='#!' class='link .link-sm flex-c-c'>Payment Policy?</a>
        </span>
        <span class="question text-sm flex-c-s">Privacy question?
            <a href='#!' class='link .link-sm flex-c-c'>Privacy Policy?</a>
        </span>
        <span class="question text-sm flex-c-s">Have other question?
            <a href='#!' class='link .link-sm flex-c-c'>FAQ?</a>
        </span>
        <span class="question text-sm flex-c-s">Usage policy
            <a href='#!' class='link .link-sm flex-c-c'>Terms & Condition?</a>
        </span>
    </div>

    <div class='foot flex-c-sb'>
        <form class="newsletter">
            <input placeholder='Email' name="newsletter-email" class="input input-sm" />
            <button style="margin-top: .25rem;" class='button button-sm w-full'>Suscribe to our Newsletter</button>
        </form>
        <div class='social-media-icons flex-c-se'>
            <a href='#' class="link">
                <i class="icon fa fa-facebook flex-c-c"></i>
            </a>
            <a href='#' class="link">
                <i class="icon fa fa-instagram flex-c-c"></i>
            </a>
            <a href='#' class="link">
                <i class="icon fa fa-twitter flex-c-c"></i>
            </a>
            <a href='#' class="link">
                <i class="icon fa fa-whatsapp flex-c-c"></i>
            </a>
            <a href='#' class="link">
                <i class="icon fa fa-github flex-c-c"></i>
            </a>
        </div>
    </div>

    <p class="copyright text-sm">Copyright &copy; 2023 michochoprogrammer@gmail.com</p>
</div>
{% endblock %}