{% load static %} 

<div id="courses-navbar" class="course-nav flex-s-s dir-col">
    <div class="info w-full flex-s-s dir-col">
        <h2 class="course-name header-md">Graphics Design Course</h2>
        <button id="close-courses-navbar" class="close-div">
            <i class="icon fa fa-times"></i>
        </button>
        <div class="account-info flex-s-s">
            <img src="{% static 'images/peep-4.jpg' %}" alt="#" class="img"/>
            <div class="data flex-s-s dir-col">
                <span class="name text-md">Mikey Chocho</span>
                <span class="complete text-sm">50% complete</span>
            </div>
        </div>
        <!-- background on toggle -->
        <div id="courses-background" class="background"></div>
    </div>
    <div class="items w-full flex-s-s dir-col">
        {% for section in course_sections %}
        <div class="item w-full flex-s-s dir-col">
            <span class="title text-md">Mod {{section.section_number}}: {{section.section_name}}</span>
            <div class="item-list flex-s-c dir-col">
                {% for content in section.coursecontent_set.all %}
                    <a href="#" class="a-link link link-md flex-s-s"><i class="icon fa fa-tag"></i> <p class="text">{{content.content_name}}</p></a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>