#homepage {
    overflow: hidden;
}

#homepage .main {
    position: relative;
    gap: 1rem;
    /* ADD A GRADIENT BACKGROUND */
    padding: 2rem;
}

/* COURSES SECTION */
#homepage .courses {
    padding: 1rem 3rem;
    background: var(--main-clr);
}

#homepage .courses .course-list {
    padding: 2rem 0;
    gap: 5vw;
    flex-wrap: wrap;
}

#homepage .courses .course-list .course {
    background: #fff;
    border-radius: .5rem;
    --course-radius: .5rem;
    padding: .25rem;
    box-shadow: 0 0 .5px 1px #eaeaea;
}

#homepage .courses .course-list .course .course-image {
    width: 14rem;
    height: 15rem;
    object-fit: cover;
    border-radius: var(--course-radius) var(--course-radius) 0 0;
}

#homepage .courses .course-list .course .course-info {
    padding: 1rem .5rem;
    gap: 1rem;
}

/* OVERVIEW SECTION */
#homepage .overview {
    flex-wrap: wrap;
    padding: 1rem 3rem;
    background: #fff;
}

#homepage .overview .overview-list {
    padding: 2rem 5vw;
    gap: .875rem;
    flex-wrap: wrap;
}

#homepage .overview .overview-list .actions {
    gap: .25rem;
    max-height: 25rem;
}

#homepage .overview .overview-list .actions .action {
    background: var(--main-clr);
    border-radius: .25rem;
    padding: .25rem;
}