:root {
    --main-color: #fff;
    --primary-color: #F4F8FC;
    --cta-clr: #FF6F00;
    --text-color: #1A1F71;
    --link-color: #1A1F71;
    --link-hover: #FF6F00;

    --bg-light: rgba(210, 210, 210, 0.55);
    --bg-deep: rgba(210, 210, 210, 0.95);
    --bg-light-dark: #252424e8;

    --main-font: 'Poppins';
    --logo-font: 'Montserrat', sans-serif;
    --primary-font: 'Nunito', sans-serif;
    --title-font: sans-serif;

    --main-sh: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
    --sub-sh: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    --big-sh: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
    --small-sh: ;
    --main-light-sh: 0 1px 5px 1px rgba(255, 255, 255, 0.3);
}

h1, h2, h3, h4, h5, h6, a, p, span, div, ul, li, small, aside, body, input, textarea, button {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
}

a, button, .icon {
    user-select: none;
    cursor: pointer;
}

*::selection {
    background: #aaa;
    color: #fff;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}

body {
    position: relative;
    background: var(--primary-color);
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

#body {
    display: flex;
    flex-direction: column;
}

/* NAVBAR SECTION */
#body .navbar {
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1.5em .5em .5em;
    height: max-content;
    background: var(--primary-color);
    border-bottom: 1px solid var(--text-color);
    box-shadow: var(--sub-sh);
}

#body .navbar .logo {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: max-content;
    width: max-content;
}

#body .navbar .logo .logo-image {
    width: 2em;
    height: 2em;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: var(--main-light-sh);
}


#body .navbar .logo .logo-title {
    font: 400 .65em var(--logo-font);
    color: var(--text-color);
}

#body .navbar .menu-list {
    display: flex;
    gap: .25em;
}

#body .navbar .menu-list .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

#body .navbar .menu-list .menu-item .link {
    user-select: none;
    color: var(--text-color);
    font: 600 .8em var(--link-font);
    padding: .5em;
}

#body .navbar .menu-list .menu-item .link:hover {
    background: rgba(218, 218, 218, 0.15);
    background-blend-mode: color;
}

/* HERO SECTION */

/* Hero One */
#body .hero {
    display: flex;
    flex-direction: column;
    background: #fff;
}

#body .hero .home {
    height: 92vh;
    display: flex;
    justify-content: space-around;
    padding: 1em 2em;
    background: var(--primary-color);
}

#body .hero .home .home-text {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 80%;
    padding: 2em .5em;
    /* font-size: calc(initial + 20rem) */
}

#body .hero .home .home-text .title {
    width: 40vw;
    font: 500 3.5em var(--main-font);
    color: var(--cta-clr);
}

#body .hero .home .home-text .info {
    font: 500 1em var(--primary-font);
    color: var(--text-color);
}

#body .hero .home .home-text .link {
    font: 500 .6em var(--main-font);
    background: #fff;
    width: max-content;
    padding: .25em .5em;
    border-radius: .15em;
    color: var(--text-color);
}

#body .hero .home .home-text .link .xclusive-link:hover {
    color: var(--link-hover) !important;
}

#body .hero .home .home-text .join-button {
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    color: #fff;
    font: 600 1em var(--primary-font);
    background: var(--cta-clr);
    border-radius: .5em 1em 1em 0;
}

#body .hero .home .home-image {
    width: 35vw;
    /* min-height: ; */
    border-radius: .5em;
    object-fit: cover;
    box-shadow: var(--main-sh);
    background-blend-mode: color-burn;
}

/* Live demo section */
#body .hero .live-demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: var(--primary-color);
    height: 92vh;
    border-top: 1px solid var(--main-color);
}

#body .hero .live-demo:target {
    scroll-margin-top: 3em;
}

#body .hero .live-demo h2 {
    font: 600 3em var(--main-font);
    color: var(--cta-clr);
    width: max-content;
    margin: 0 auto;
}
#body .hero .live-demo .demo-content {
    display: flex;
    justify-content: space-between;
    height: max-content;
    padding: .5em;
}

#body .hero .live-demo .demo-content .demo-video {
    width: calc(100vw - 30em);
    height: 100%;
}

#body .hero .live-demo .demo-content .demo-aside {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    gap: 1em;
    padding: 1em;
}

#body .hero .live-demo .demo-content .demo-aside .demo-info {
    min-height: 3em;
    width: 100%;
    display: flex;
    gap: .25em;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: left;
    background: #8d8d8d10;
    border-radius: .5em;
    padding: 0 1em;
    box-shadow: var(--main-sh);
}

#body .hero .live-demo .demo-content .demo-aside .demo-info:hover,
#body .hero .live-demo .demo-content .demo-aside .demo-info:hover * {
    background: var(--cta-clr);
    color: #fff !important;
    cursor: pointer;
    transform: scale(1.05);
    transition: all .2s ease;
}

#body .hero .live-demo .demo-content .demo-aside .demo-info .info {
    color: var(--text-color);
    font: 600 1em var(--main-font);
}

#body .hero .live-demo .demo-content .demo-aside .demo-info:hover .info-emoji {
    color: #fff;
    transition: .25s ease-in-out;
}

#body .hero .live-demo .demo-content .demo-aside .demo-info .info-emoji {
    color: var(--cta-clr);
    font: 600 1.5em var(--main-font);
}

/* PRICING SECTION */
#body .hero .pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: .5em;
    padding: 2em .5em;
    background: var(--primary-color);
    border-top: 1px solid var(--main-color);
}

#body .hero .pricing:target {
    scroll-margin-top: 2.5em;
}

#body .hero .pricing .item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: max-content;
    width: min-content;
    background: #1A1F71;
    padding: .5em;
    border-radius: .5em;
    box-shadow: var(--main-light-sh);
}

/* price */
#body .hero .pricing .item .price {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--cta-clr);
    font: 600 .8em var(--main-font);
    background: #fff;
    padding: 1em .25em;
    border-radius: 0 .5em;
}

#body .hero .pricing .item .price sup {
    font: 500 .7em var(--main-font);
}

#body .hero .pricing .item .price sub {
    
}

/* image */
#body .hero .pricing .item .item-image {
    height: 18em;
    width: 16em;
    object-fit: cover;
    border-radius: .5em;
}

/* info */
#body .hero .pricing .item .item-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .25em;
    padding: .5em .25em;
}

#body .hero .pricing .item .item-info .title {
    font: 600 1.4em var(--main-font);
    color: var(--cta-clr);
}

#body .hero .pricing .item .item-info .info {
    font: 500 .8em var(--main-font);
    color: var(--primary-color)
}

#body .hero .pricing .item .link {
    width: 100%;
    height: 2.5em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cta-clr);
    border-radius: .5em;
    color: #fff;
    font: 600 1em var(--main-font);
}

#body .hero .pricing .item .link:hover {
    text-decoration: underline;
    background: #e15a16;
    transition: .25s ease;
}

#body .hero .pricing .item .link:active {
    background: var(--cta-clr);
    outline: 2px solid #fff;
}

/* CONTACT SECTION */
#body .contact {
    display: flex;
    flex-wrap: wrap;
    gap: 15vw;
    padding: .5em;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    border-top: 1px solid var(--main-color);
}

#body .contact .media {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    gap: 1em;
    padding: 1em;
}

#body .contact .media .item {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    height: max-content;
    width: 25em;
    padding: 1em;
    background: var(--bg-deep);
    border-radius: .5em;
    box-shadow: var(--main-sh);
}

#body .contact .media .item:hover {
    background: var(--cta-clr);
    transition: .25s ease;
}

#body .contact .media .item .via {
    display: flex;
    gap: .25em;
    align-items: center;
    padding: .25em;
    font: 600 1.2em var(--main-font);
    color: var(--text-color);
}

#body .contact .media .item:hover .via {
    color: var(--main-color);
    transition: .25s ease;
}

#body .contact .media .item .via .icon {
    font-size: 1.5em !important;
}

#body .contact .media .item:hover .via .icon {
    color: var(--main-color) !important;
    transition: .25s ease;
}

#body .contact .media .item .via .icon.fa-phone {
    color: #0f5fbf;
    font-size: 1.2em !important;
}

#body .contact .media .item .via .icon.fa-whatsapp {
    color: #0fb87d;
}

#body .contact .media .item .via .icon.fa-send-o {
    color: #e14b21;
    font-size: 1.3em !important;
}

#body .contact .media .item .via-on {
    color: var(--text-color);
    font: 600 1em var(--main-font);
}

/* Form section */
#body .contact .form {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 0 1em;
    width: 100%;
    max-width: 26em;
}

#body .contact .form .info {
    color: var(--cta-clr);
    font: 600 1.3em var(--main-font);
}

#body .contact .form input,
#body .contact .form textarea {
    width: 100%;
    color: var(--text-color);
    font: 500 1em var(--main-color);
    padding: .5em 1em;
    border-radius: .25em;
}

#body .contact .form textarea {
    resize: none;
    height: 10em;
}

#body .contact .form .submit {
    width: 100%;
    height: 2em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cta-clr);
    border-radius: .25em;
    color: #fff;
    font: 500 1.2em var(--main-font);
}

#body .contact .form .submit:hover {
    background: #0fb87d;
    transition: .25s ease;
}

#body .contact .form .submit:active {
    background: var(--cta-clr);
    outline: 2px solid #fff;
}

/* FOOTER SECTION */
#body .footer {
    user-select: none;
    border-top: 1px solid var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#body .footer .follow {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    width: 100%;
    max-width: 35em;
    padding: .25em;
    margin: .5em 0;
}

#body .footer .follow .link .icon {
    display: flex;
    width: 1.4em;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: var(--main-color);
    padding: .25em;
    border-radius: .25em;
}

#body .footer .follow .link .icon:hover {
    background: var(--bg-deep);
}

#body .footer .follow .link .icon:hover.fa-instagram {
    color: #711375;
}

#body .footer .follow .link .icon:hover.fa-facebook {
    color: #1850d2;
}

#body .footer .follow .link .icon:hover.fa-twitter {
    color: #3a83e9;
}

#body .footer .follow .link .icon:hover.fa-youtube {
    color: #dd1616;
}

#body .footer .copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .5em 0 1em 0;
    border-top: 1px solid var(--main-color);
    color: var(--text-light-color);
    font: 600 .8em var(--main-font);
}

/************************************************************/
/* SIGN UP AND SIGN IN SECTION */
#signup, #signin {
    display: none;
    position: fixed;
    top: 8vh;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 92vh;
    background: var(--bg-light-dark);
}

.un-signup {
    display: flex !important;
}

.un-signin {
    display: flex !important;
}

#signup .form,
#signin .form {
    position: absolute;
    top: 0;
    right: 0;
    width: 30vw;
    min-width: 30em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 3em;
    justify-content: center;
    align-items: center;
    background: #0f0f0f;
    border-radius: 0 0 0 .5em;
}

#signup .form .title,
#signin .form .title {
    font: 600 .8em var(--title-font);
    color: var(--text-color);
}

#signup .form .input,
#signin .form .input {
    position: relative;
    display: flex;
    gap: .5em;
    text-align: center;
    align-items: center;
    height: max-content;
    width: 100%;
}

#signup .form .input .icon,
#signin .form .input .icon {
    position: absolute;
    left: .5em;
    color: var(--main-color);
}

#signup .form .input > input,
#signin .form .input > input {
    width: 100%;
    height: 2.5em;
    background: var(--primary-color);
    color: var(--text-light-color);
    padding: 0 2.5em;
    border-radius: .5em;
}

#signup .form .input > input::placeholder,
#signin .form .input > input::placeholder {
    color: var(--text-color);
    font-weight: 600;
}

#signup .form .input > input[type="checkbox"],
#signin .form .input > input[type="checkbox"] {
    width: .8em;
    height: .8em;
}

#signup .form .input .check-info,
#signin .form .input .check-info {
    color: var(--main-color);
}

#signup .form .input .check-info .link,
#signin .form .input .check-info .link {
    color: var(--text-color);
}

#signup .form .submit,
#signin .form .submit {
    background: #0fb87d;
    color: var(--text-light-color);
    width: 100%;
    padding: .5em;
    border-radius: .15em;
}

#signup .form .submit:hover,
#signin .form .submit:hover {
    background: var(--cta-clr);
}

#signup .form .submit:active,
#signin .form .submit:active {
    background: none;
}