{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<div id="forget-password-confirm" class="wh-full flex-c-c dir-col">
    <div class="content wh-max flex-c-c dir-col">
        <h2 class="title">Reset Password</h2>
        <p class="info w-600">Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form method="POST" action="#" class="form w-full flex-c-c dir-col">
            {% csrf_token %}
            <input class="password input" name="password1" id="password1" type="password" />
            <input class="passwordinput" name="password2" id="password2" type="password" />
            <button type="submit" class="submit-btn button button-md">Reset</button>
        </form>
    </div>
</div>

{% endblock %}