{% extends 'main.html' %}
{% load static %}

{% block content %}

<div id="forget-password-complete" class="wh-full flex-c-c dir-col">
    <div class="content wh-max flex-c-c dir-col">
        <h2 class="title">Password reset successful</h2>
        <p class="info w-600">Your password has been reset. You may go ahead and login now</p>
        <p class="info w-600">Tip: You can save your password on your personal E-mail or write it down in your private diary to prevent forgetting it next time.</p>
        <a href="{% url 'home' %}" class="button button-md login-btn">Login</a>
    </div>
</div>

{% endblock %}