{% extends 'course/main.html' %}
{% load static %}

{% block content %}
<div id="about" class="w-full cc-cont f-col">
    <div class="hero w-full cb-cont">
        <div class="title ss-cont f-col">
            <h2 class="text text-md">About Us</h2>
            <p class="main-info header-xlx">Helping individuals like you succeed in this modern evolving Tech Industry.</p>
            <p class="info text-md">Welcome to DesignHive, your one-stop destination for all your graphic design and network marketing needs. Our website was created in 2022 by the brilliant mind of Chocho, who envisioned a platform that provides comprehensive resources for individuals seeking to learn and develop their skills in graphics design and network marketing.
            </p>
            <button class="button button-lg">Follow Us</button>
        </div>
        <div class="image-div w-full cc-cont">
            <img src="{% static 'images/peep-3.jpg' %}" class="img" />
        </div>
    </div>

    
        <!-- LINE BREAK -->
        <div class="line"></div>

    <div class="history w-full cc-cont f-col">
        <div class="title cc-cont f-col">
            <h2 class="text text-md">Our History</h2>
            <p class="main-info header-md">The Story of DesignHive</p>
            <p class="info text-md">
                At DesignHive, we understand that the world of design is constantly evolving, and the ability to keep up with the latest trends and techniques is crucial for success. With that in mind, we offer a wide range of courses, tutorials, and resources designed to help you improve your skills and stay up-to-date with the latest industry standards.<br/><br/>
                
                Our team of expert instructors has years of experience in the field of design and network marketing, and they are committed to helping you achieve your goals. They are passionate about sharing their knowledge and expertise, and they have developed a curriculum that is tailored to meet the needs of learners at all levels.<br/><br/>
                
            Whether you are a beginner just starting out or an experienced professional looking to refine your skills, DesignHive has something for everyone. Our courses cover everything from the basics of graphic design to advanced techniques in network marketing, and we offer both self-paced and instructor-led options to suit your needs.<br/><br/>
            
            At DesignHive, we believe that learning should be fun, engaging, and accessible to all. That's why we have created a user-friendly platform that is easy to navigate, and we offer 24/7 customer support to ensure that you have the help you need when you need it.<br/><br/>
            
            Thank you for choosing DesignHive as your learning partner. We look forward to helping you achieve your goals and unleash your full potential in the exciting world of design and network marketing.
            </p>
        </div>
        <div class="image-div w-full cc-cont">
            <img src="{% static 'images/peep-3.jpg' %}" class="img" />
        </div>
    </div>
    <div class="about-content ce-cont">
        <p class="about-info text-md">

        </p>
    </div>
</div>
{% endblock %}