{% load static %}

<header class="navbar flex-c-sb {% if request.resolver_match.url_name == 'course' %} close {% endif %}">
    <!-- LOGO SECTION -->
    <div class="logo">
        <img 
            src="{% static 'images/logo.svg' %}" 
            style="
                width: max-content;
                height: calc(1.5rem + 2vw);
                min-height: 1.5rem;
            "
            alt="Logo" 
        />
    </div>
    <nav id="nav-menu" class="menu flex-c-sb">
        <div class="menu-bar flex-c-c">
            <i id="menu-bar" class="icon icon-md fa fa-bars-staggered"></i>
            <i id="close-bar" class="icon icon-md fa fa-times"></i>
        </div>
        <div id="bg-modal" class="bg-modal"></div>
        <div id="menu-list" class="menu-list flex-c-c">
            <a href="{% url 'home' %}" class="link flex-c-sb {% if request.resolver_match.url_name == 'home' %} active-page {% endif %}">
                <span id="" class="text link-md">Home</span>
                <i class="icon fa fa-chevron-right"></i>
            </a>
            <a href="{% url 'accountsettings' %}" class="link flex-c-sb {% if request.resolver_match.url_name == 'accountsettings' %} active-page {% endif %}">
                <span id="" class="text link-md">Account</span>
                <i class="icon fa fa-chevron-right"></i>
            </a>
            <a href="{% url 'courses' %}" class="link flex-c-sb {% if request.resolver_match.url_name == 'courses' %} active-page {% endif %}">
                <span id="" class="text link-md">Course</span>
                <i class="icon fa fa-chevron-right"></i>
            </a>
            <a href="{% url 'about' %}" class="link flex-c-sb {% if request.resolver_match.url_name == 'about' %} active-page {% endif %}">
                <span id="" class="text link-md">About Us</span>
                <i class="icon fa fa-chevron-right"></i>
            </a>
            <a href="{% url 'admin' %}" class="link flex-c-sb {% if request.resolver_match.url_name == 'admin' %} active-page {% endif %}">
                <span id="" class="text link-md">Admin</span>
                <i class="icon fa fa-chevron-right"></i>
            </a>
            <small class="menu-foot">Copyright 2022 &copy; chochoprogrammer</small>
        </div>
        <a href="#" id="notification-link" class="notification flex-c-c">
            <small class="number">10</small>
            <i class="notification-icon fa fa-bell"></i>
        </a>
    </nav>
</div>

<div id="notification" class="notification-bg flex-s-e">
    <div class="body flex-s-s dir-col">
        <div class="head w-full flex-c-sb">
            <h2 class="text text-md">Notifications</h2>
            <button id="cancel-btn" class="cancel-btn button-sm">
                <i class="icon fa fa-times"></i>
            </button>
        </div>
        <div class="nav w-full flex-c-s">
            <button id="view-all-notification" class="nav-btn">View all</button>
            <button id="view-unread-notification" class="nav-btn">Unread</button>
        </div>
        <div class="contents w-full flex-c-c">
            <div class="all-notifications flex-s-s dir-col">
                <div class="item flex-s-s">
                    <img src="{% static 'images/peep-2.jpg' %}" class="img"/>
                    <div class="info h-full flex-s-sb dir-col">
                        <p class="text text-sm">You have successfully created a DesignHive account and logged in.</p>
                        <span class="time text-xsm">Sep 10, 2022 | 22:40 hours</span>
                    </div>
                </div>
                <div class="item flex-s-s">
                    <img src="{% static 'images/peep-1.jpg' %}" class="img"/>
                    <div class="info h-full flex-s-sb dir-col">
                        <p class="text text-sm">You have successfully created a DesignHive account and logged in.</p>
                        <span class="time text-xsm">Sep 10, 2022 | 22:40 hours</span>
                    </div>
                </div>
                <div class="item flex-s-s">
                    <img src="{% static 'images/peep-3.jpg' %}" class="img"/>
                    <div class="info h-full flex-s-sb dir-col">
                        <p class="text text-sm">You have successfully created a DesignHive account and logged in.</p>
                        <span class="time text-xsm">Sep 10, 2022 | 22:40 hours</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% block js %}
    <script src="{% static 'js/navbar.js' %}"></script>
{% endblock %}