{% extends 'shared_templates/main.html' %}
{% load static %}

{% block content %}
<div id="course-select" class="wh-full flex-s-s dir-col">
    <ul class="tips w-full flex-as dir-col">
        <li class="title header-sm">TIPS</li>
        <li class="tip text-md w-600">Do not attempt more than a course at once, it reduces productivity and lowers success rate.</li>
        <li class="tip text-md w-600">Make sure you do not skip any part of the course.</li>
        <li class="tip text-md w-600">Replicate exactly what the instructor is doing only first time and practice on your own later.</li>
        <li class="tip text-md w-600">Do not rush, it takes time to master. Preview the course section as many times until you get it.</li>
    </ul>
    <h2 class="title header-sm w-500">AVAILABLE COURSES</h2>
    <form method="POST" action="{% url 'course' %}" class="courses w-full flex-c-sb">
        {% csrf_token %}
        {% for item in courses %}
        <div class="course flex-c-c dir-col text-tc">
            <h3 class="title text-lg w-600 flex-tc">{{item.name}}</h3>
            <button type="submit" name="{{item.slug}}" class="info w-500 button button-sm">Enter course</button>
        </div>
        {% endfor %}
    </form>
</div>

{% endblock %}