{% extends 'course/main.html' %}
{% load static %}

{% block content %}
<div id="accountsettings" class="flex-s-s dir-col">
    <div class="title w-full flex-c-sb">
        <span class="text header-lg">Profile</span>
        <div class="acc-cta w-full flex-e-e">
            <a href="{% url 'home' %}" class="home-btn button button-sm">Cancel</a>
            <button class="save-btn button button-sm">Save</button>
        </div>
    </div>

    <!-- PROFILE FORM -->
    <form class="acc-form flex-s-s dir-col">
        <div class="acc-change w-full flex-s-s dir-col">
            <div class="input-div w-full flex-c-sb">
                <label class="label text-sm" for="fullname">Full name</label>
                <input type="text" class="input fullname input-sm" id="fullname" name="fullname" value="{{username}}" />
            </div>
            <div class="input-div w-full flex-c-sb">
                <label class="label text-sm" for="email">E-mail</label>
                <input type="email" class="input input-sm email" id="email" name="email" value="{{email}}" />
            </div>
            <div class="input-div w-full flex-c-sb">
                <label class="label text-sm" for="phone">Alias</label>
                <input type="text" class="input input-sm alias" id="alias" name="alias" value="{{alias}}" />
            </div>
        </div>
        
        <!-- LINE BREAK -->
        <div class="line"></div>

        <div class="img-div w-max">
            <img class="img" src="{% static 'images/peep-3.jpg' %}" alt=""/>
            <button class="img-btn button button-sm">Change Image</button>
        </div>
    </form>

    <div class="title flex-c-sb">
        <span class="text header-lg">Change Password</span>
        <div class="acc-cta w-full flex-e-e">
            <a href="{% url 'home' %}" class="home-btn button button-sm">Cancel</a>
            <button class="save-btn button button-sm">Save</button>
        </div>
    </div>

    <!-- PASSWORD FORM -->
    <form class="acc-form password-form flex-s-s dir-col">
        <div class="input-div w-full flex-c-sb">
            <label class="label text-sm" for="current-password">Current Password</label>
            <div class="input-content w-full flex-c-c">
                <input type="password" class="password input input-sm w-full" id="current-password" name="current-password" placeholder="Enter Current Password" />
                <button class="eye-btn button-sm">
                    <i class="icon fa fa-eye"></i>
                </button>
            </div>
        </div>

        <div class="input-div w-full flex-c-sb">
            <label class="label text-sm" for="new-password">New Password</label>
            <div class="input-content w-full flex-c-c">
                <input type="password" class="password input input-sm w-full" id="new-password" name="new-password" placeholder="Enter New Password" />
                <button class="eye-btn button-sm">
                    <i class="icon fa fa-eye"></i>
                </button>
            </div>
        </div>

        <div class="input-div w-full flex-c-sb">
            <label class="label text-sm" for="confirm-password">Confirm Password</label>
            <div class="input-content w-full flex-c-c">
                <input type="password" class="password input input-sm w-full" id="confirm-password" name="confirm-password" placeholder="Re-enter New Password" />
                <button class="eye-btn button-sm">
                    <i class="icon fa fa-eye"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="title flex-c-sb">
        <span class="text header-lg">Delete Account</span>
        <div class="acc-cta w-full flex-e-e">
            <a href="{% url 'home' %}" class="home-btn button button-sm">Cancel</a>
            <button class="save-btn button button-sm">Save</button>
        </div>
    </div>

    <form class="acc-form delete-section">
        <div class="input-div w-full flex-c-sb">
            <label class="label text-sm" for="fullname">De-activate for 30days</label>
            <input type="checkbox" class="" id="deactivate-temporaryly" name="deactivate-temporaryly" value="false" />
        </div>
        <div class="input-div w-full flex-c-sb">
            <label class="label text-sm" for="fullname">De-activate Permanently</label>
            <input type="checkbox" class="" id="deactivate-permanently" name="deactivate-permanently" value="false" />
        </div>
    </form>

    <form method="POST" action="{% url 'accountsettings' %}" class="title flex-c-sb logout-section">
        {% csrf_token %}
        <span class="text header-lg">Logout Account</span>
        <div class="acc-cta w-full flex-e-e">
            <button type='submit' name="logout" class="logout-btn button button-sm">Logout</button>
        </div>
    </form>
</div>
{% endblock %}