{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<div id="forget-password" class="wh-full flex-c-c dir-col">
    <div class="content wh-max flex-c-c dir-col">
        <h2 class="title">Forget Password?</h2>
        <p class="info w-600">Forgotten your password? Enter your email address below, an email with instructions for new one will be sent.</p>
        <form method="POST" action="#" class="form w-full flex-c-c dir-col">
            {% csrf_token %}
            <input class="email input" name="email" id="email" type="email" />
            <button type="submit" class="submit-btn button button-md">Request</button>
        </form>
    </div>
</div>

{% endblock %}