{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DesignHive - Landing Page</title>

    <link rel="stylesheet" href="{% static 'css/accounts/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/accounts/landingpage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/frames/logo.css' %}" />

    <link rel="stylesheet" href="{% static 'fontawesome/css/solid.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome/css/brands.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome/css/v4-shims.css' %}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Orbitron&family=Source+Sans+Pro&family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
    {% if messages %}
    <ul id="server_messages" class="server_messages">
        {% for message in messages %}
        <li id="server_message" class="{% if message.tags %} {{message.tags}} {% endif %} message">{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div id="navbar" class="navbar w-full flex-c-s">
        <div class="logo">
            {% include 'frames/logo.html' %}
        </div>
        <div class="menu-list w-full flex-c-sb">
            <div class="items-1 flex-ac screen-md">
                <a href="#live-demo" id="live-demo-button" class="link text-md w-600 button-md">Live Demo</a>
                <a href="#pricing" id="pricing-button" class="link text-md w-600 button-md">Pricing</a>
                <a href="#contact" id="contact-us-button" class="link text-md w-600 button-md">Contact Us</a>
            </div>
            <div class="items-2 flex-ac screen-md">
                <button id="signin-button" class="link text-md w-600 button-md">Login</button>
                <button id="signup-button" class="link text-md w-600 button-md">SignUp</button>
            </div>
            <div class="screen-sm"></div>
            <button id="menu-bar-btn" class="menu-bar screen-sm">
                <i id="bars-icon" class="icon fa fa-bars text-lg"></i>
                <i id="close-icon" class="icon close fa fa-times text-lg"></i>
            </button>
        </div>

        <div id="menu-list" class="menu-list-2 close flex dir-col screen-sm">
            <a href="#live-demo" id="live-demo-button" class="link text-md w-600 button-md">Live Demo</a>
            <a href="#pricing" id="pricing-button" class="link text-md w-600 button-md">Pricing</a>
            <a href="#contact" id="contact-us-button" class="link text-md w-600 button-md">Contact Us</a>
            <div class="buttons flex dir-col">
                <button id="signin-button" class="link text-md w-600 button-md">Login</button>
                <button id="signup-button" class="link text-md w-600 button-md">SignUp</button>
            </div>
        </div>
        
        <!-- BACKGROUND OVERLAY ON FOCUS OF SIGNIN AND SIGNUP FORM -->
        <div id="signing-background-overlay"></div>
        <!-- LOGIN FORM -->
        <form method="POST" id="signin" class="form">
            {% csrf_token %}
            <h3 class="title text-lg w-600">Login account</h3>
            <div class="input">
                <i class="icon fa fa-send-o"></i>
                <input name="email" class="email" type="email" placeholder="(Email)" required/>
            </div>
            <div class="input">
                <i class="icon fa fa-lock"></i>
                <input name="password" class="name" type="password" placeholder="(Password)" required/>
            </div>
            <div class="input">
                <input name="login-checkbox" class="checkbox" type="checkbox" />
                <small class="check-info">Keep me logged in<a href="{% url 'forgetpassword' %}" class="link">forget password</a></small>
            </div>
            <button type="submit" id="signin-submit" class="submit text-sm w-600" name="signin">Sign In</button>
            <div class="info flex-c-c dir-col w-full">
                <p id="signin-error" class="text-sm w-600">{{signin_error}}</p>
            </div>
        </form>

        <!-- SIGN UP FORM -->
        <form method="POST" id="signup" class="form">
            {% csrf_token %}
            <h3 class="title text-lg w-600">Fill form to sign up</h3>
            <div class="input">
                <i class="icon fa fa-user"></i>
                <input name="username" class="name" type="text" placeholder="(Firstname) (Lastname)" required/>
            </div>
            <div class="input">
                <i class="icon fa fa-user"></i>
                <input name="alias" class="name" type="text" placeholder="(Alias)" required/>
            </div>
            <div class="input">
                <i class="icon fa fa-send-o"></i>
                <input name="email" class="email" type="email" placeholder="(Email)" required/>
            </div>
            <div class="input">
                <i class="icon fa fa-lock"></i>
                <input name="password" id="signup-password" class="name" type="password" placeholder="(Password)" required/>
            </div>
            <div class="input">
                <input name="terms-checkbox" class="checkbox" type="checkbox" required/>
                <small class="check-info">I agree to the<a href="#" class="link">terms and condition</a></small>
            </div>
            <button type="submit" id="signup-submit" class="submit text-sm w-600" name="signup">Sign Up</button>
            <div class="info flex-c-c dir-col w-full">
                <p id="signup-error" class="text-sm w-600">{{signup_error}}</p>
            </div>
        </form>
    </div>


    <!-- LANDING PAGE BODY -->
    <div id="landingpage" class="wh-full">
        <div class="hero w-full flex-c-sb dir-col">
            <div class="hero-1 w-full flex-c-sb">
                <div class="title flex-s-s dir-col">
                    <h2 class="text text-md">Learn Tech in a Classic way</h2>
                    <p class="main-info header-xlx">Helping individuals like you succeed in this modern evolving Tech Industry.</p>
                    <p class="info text-md">Welcome to DesignHive, your one-stop destination for all your graphic design and network marketing needs. Our website was created in 2022 by the brilliant mind of Chocho, who envisioned a platform that provides comprehensive resources for individuals seeking to learn and develop their skills in graphics design and network marketing.
                    </p>
                    <button id="joinus-button" onclick="document.getElementById('signup-button').click();" class="button button-lg">Join Us</button>
                </div>
                <img src="{% static 'images/xclusive.jpg' %}" class="img" />
            </div>

            <div id="live-demo" class="live-demo flex-c-c dir-col">
                <h2 class="title header-md w-600">LIVE DEMO</h2>
                <div class="demo-content flex-jsb">
                    <video src="{% static 'videos/g.mp4' %}" alt="/" muted="muted" autoplay="autoplay" loop="loop" class="demo-video"></video>
                    <aside class="demo-aside flex-jsa dir-col">
                        <div class="demo-info">
                            <span class="info-emoji">✔</span>
                            <p class="info text-md">Interactive Live Class</p>
                        </div>
                        <div class="demo-info">
                            <span class="info-emoji">✔</span>
                            <p class="info text-md">Group Chat with members</p>
                        </div>
                        <div class="demo-info">
                            <span class="info-emoji">✔</span>
                            <p class="info text-md">Pop-Quiz with Prices</p>
                        </div>
                        <div class="demo-info">
                            <span class="info-emoji">✔</span>
                            <p class="info text-md">Connecting with Pros</p>
                        </div>
                        <div class="demo-info">
                            <span class="info-emoji">✔</span>
                            <p class="info text-md">Pro ethics Training</p>
                        </div>
                        <div class="demo-info">
                            <span class="info-emoji">✔</span>
                            <p class="info text-md">LinkedIn profile setup</p>
                        </div>
                        <div class="demo-info">
                            <p class="info text-md">...and many more</p>
                        </div>
                    </aside>
                </div>
            </div>

            <div id="pricing" class="pricing">
                <h2 class="title header-md w-600">PRICING</h2>
                <div class="item w-full flex-s-c">
                    <div class="price wh-max flex-c-c dir-col">
                        <img src="{% static 'images/peep-1.jpg' %}" class="price-image" />
                        <div class="price-info wh-max flex-c-c dir-col">
                            <p class="header-sm">Graphics Design</p>
                            <p style="color: var(--text-clr);" class="text-md">$20 <sup class="text-xsm">99</sup></p>
                            <a href="{% url 'courses' %}" class="link link-md button">Start Now</a>
                        </div>
                    </div>
                    
                    <div class="price wh-max flex-c-c dir-col">
                        <img src="{% static 'images/peep-3.jpg' %}" class="price-image" />
                        <div class="price-info wh-max flex-c-c dir-col">
                            <p class="header-sm">Network Marketing</p>
                            <p style="color: var(--text-clr);" class="text-md">$25 <sup class="text-xsm">99</sup></p>
                            <a href="#" class="link link-md button">Start Now</a>
                        </div>
                    </div>
                    
                    <div class="price wh-max flex-c-c dir-col">
                        <img src="{% static 'images/peep-2.jpg' %}" class="price-image" />
                        <div class="price-info wh-max flex-c-c dir-col">
                            <p class="header-sm">Email Marketing</p>
                            <p style="color: var(--text-clr);" class="text-md">$15 <sup class="text-xsm">99</sup></p>
                            <a href="#" class="link link-md button">Start Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="contact" class="contact flex-c-c">
            <h3 class="info header-md w-600">CONTACT US</h3>
            <div class="media flex-c-c dir-col">
                <a href="#" class="item">
                    <p class="via text-md w-600">Phone Call: </p>
                    <span class="via-on text-sm">+234 903 910 8667</span>
                </a>
                <a href="#" class="item">
                    <p class="via text-md w-600">WhatsApp on: </p>
                    <span class="via-on text-sm">+234 903 910 8667</span>
                </a>
                <a href="#" class="item">
                    <p class="via text-md w-600">Email at: </p>
                    <span class="via-on text-sm">michochoprogrammer@gmail.com</span>
                </a>
            </div>
            <form action="#" class="contact-form flex-c-c dir-col">
                <input type="text" class="input" name="fullname" placeholder="Full name" required />
                <input type="email" class="input" name="email" placeholder="Email" required/>
                <textarea class="input" placeholder="Content" name="text" maxlength="1500" required></textarea>
                <button type="submit" class="submit button button-md">Send</button>
            </form>
        </div>

        <div class="footer">
            <div class="follow">
                <a href="#" class="link">
                    <i class="icon fa fa-instagram"></i>
                </a>
                <a href="#" class="link">
                    <i class="icon fa fa-facebook"></i>
                </a>
                <a href="#" class="link">
                    <i class="icon fa fa-twitter"></i>
                </a>
                <a href="#" class="link">
                    <i class="icon fa fa-youtube"></i>
                </a>
            </div>
            <p class="copyright text-sm w-600">Copyright 2022 &copy; michochoprogrammer</p>
        </div>
    </div>
</body>
</html>

{% block js %}
    <script src="{% static 'js/landingpage.js' %}"></script>
{% endblock %}