{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# For the page logo favicon.ico #}

    <link rel="stylesheet" href="{% static 'css/admin/admin.css' %}" />
    <link rel="stylesheet" href="{% static 'css/admin/course_create.css' %}" />
    <link rel="stylesheet" href="{% static 'css/admin/course_edit.css' %}" />
    
    <!-- FONTAWESOME ONLINE LINK -->
    <script src="https://kit.fontawesome.com/78fe799ed6.js" crossorigin="anonymous"></script>

    <title>Admin Dashboard</title>

  </head>
  <body>
    {# HEADER SECTION #}
    <header id="admin-navbar" class="w-max flex-s-s dir-col">
      <button id="menu-bar-btn" class="menu-bar screen-sm">
          <i id="bars-icon" class="icon fa fa-bars text-lg"></i>
          <i id="close-icon" class="icon close fa fa-times text-lg"></i>
      </button>

      {# NAVBAR SECTION #}
      <nav id="nav-contents" class="nav-contents close h-full flex-s-s dir-col">
        {# LOGO && TITLE SECTION #}
        <div class="logo flex-c-c">
            <h2 class="logo-title header-lg">DesignHive</h2>
            {% include 'shared_templates/logo.html' %}
        </div>
        {# NAV LINKS #}
        <div class="nav-items w-full flex-js dir-col">
            <a href="{% url 'home' %}" class="link w-full text-md w-600 button-md br-md {% if request.resolver_match.url_name == 'home' %} active {% endif %}">
                <span id="" class="text link-md">Dashboard</span>
            </a>
            <a href="{% url 'home' %}" class="link w-full text-md w-600 button-md br-md {% if request.resolver_match.url_name == 'home' %} active {% endif %}">
                <span id="" class="text link-md">Courses</span>
            </a>
            <a href="{% url 'home' %}" class="link w-full text-md w-600 button-md br-md {% if request.resolver_match.url_name == 'home' %} active {% endif %}">
                <span id="" class="text link-md">Customers</span>
            </a>
            <a href="{% url 'home' %}" class="link w-full text-md w-600 button-md br-md {% if request.resolver_match.url_name == 'home' %} active {% endif %}">
                <span id="" class="text link-md">Home</span>
            </a>
        </div>
      </nav>
    </header>

    {% comment %} {# FLASHED MESSAGES #}
    {% comment %} {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} 
    {% for category, message in messages %} 
    {% if category == 'error' %} {% endcomment %}
    {# ERROR CATEGORY MESSAGES #}
    {% comment %} <div class="alert-admin error w-full flex-c-c flex-tc">
      <p class='message text-sm w-600'>{{ message }}</p>
      <button type="button" id="flashed-messages-close-btn" class="close button" data-dismiss="alert">
        <i aria-hidden="true" class="fa fa-close icon"></i>
      </button>
    </div>
    {% else %}
    {# SUCCESS CATEGORY MESSAGES #}
    <div class="alert-admin success w-full flex-tc">
      <p class='message text-sm w-600'>{{ message }}</p>
      <button type="button" id="flashed-messages-close-btn" class="close button flex-c-c" data-dismiss="alert">
        <i aria-hidden="true" class="fa fa-close icon"></i>
      </button>
    </div> {% endcomment %}
    {% comment %} {% endif %} 
    {% endfor %} 
    {% endif %} 
    {% endwith %} {% endcomment %}

    {# PAGE CONTENTS #}
    <div id="block-content" class="w-full h-screen flex-s-s dir-col">
      <form method='POST' action="/admin_panel/search" class='search-form flex-c-c'>
          <input name="search-data" class="input" type="text" placeholder="Search..." required/>
          <button type="submit" class="search-cta">
              <i class="icon fa fa-search"></i>
          </button>
      </form>
      {% block content %}
      {% endblock %}
    </div>

    {# JS BLOCK #}
    <script src="{% static 'js/admin/panel.js' %}"></script>
    {# PAGE JS CONTENT #}
    {% block js %}
    {% endblock %}
  </body>
</html>